h2{
 background-color: yellowgreen;

}
body{
    background-color: aqua;
}
.myclass {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: turquoise;
    border: 1px solid black;
    margin: 5px;
    

}
#box{
    height: 200px; 
    width: 200px;
    background-color: turquoise;
    color: whitesmoke;
    border: 1px solid black;
    text-align: center;
}
.para{
    color: red;
    background-color: blue;
    height: 35px;
    font-size: larger;


}
.newcontent{
    background-color:green;
    
}